
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
  }

.foto_perfil{
    border-radius: 100%;
}
.logo_html{
    width: 100px;
    height: 70px;
    margin-left: 570px;
}

.form {
  max-inline-size: 540px;
  margin: auto;
}

.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: .5em;
  padding-inline-start: .5em;
}

.form label span {
  color: #DA1414;
}

.form input, .form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: .8em;
  border-radius: .5em;
  border: 1px solid #858C94;
}
.form textarea {
  margin-block-end: 2em;
  font-family: inherit;
}

input::-webkit-input-placeholder {
  color: #0F0A0A88;
}


.contact {
  margin-block-end: 5em;
}

.tag span {
  padding: .5em;
  background: var(--black);
  color: var(--primary);
  box-shadow: -4px 4px 0 white;
}

body{
  background-image: url(../img/Fondo_Index.jpg);
}

.boton_formulario{
  border-radius: 100%;
height: 300px;
width:500px;
margin: 100px 0px 0px 500px;
padding: 100px;
background:#000;
color:#fff;
border:solid 1px #f5e3e3;
}

.conteiner_experiencia_main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items:center
  
}
.h1_titulo_experiencia{
  font-size: 100px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  

}
.h1_experiencia{
  color: red;

}

.h3_experiencia{
  color: white;
}

.p_experiencia{
  color: white;
}


/*Css de Bootstrap*/

/* Default height for small devices */
#intro-example {
    height: 400px;
  }

  /* Height for devices larger than 992px */
  @media (min-width: 992px) {
    #intro-example {
      height: 600px;
    }
  }
